<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <nav>
    <ul>
        <li> <a href= "/"> Tara News </a> </li>
      <% if current_user %>
        <li> hello, <%= link_to current_user.email, edit_user_registration_path %>  </li>
        <li> <%= link_to "logout", destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li><a href="/users/sign_in">login</a></li>
        <li><a href="/users/sign_up">sign up</a></li>
      <% end %>

    </ul>
  </nav>

<%= yield %>

</body>
</html>
